body {
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: radial-gradient(circle, rgb(0, 14, 36) 0%, rgb(97, 170, 189) 0%, rgb(57, 81, 109) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
